.navigation ul{
  padding:0px;
  display: block;
}

.navigation li{
  display: block;
  text-decoration: none;
  color: #333;
  padding:10px;
  background: #EEE;
  margin: 2px;
}

.navigation .current{
  background: #FF6F00;
  color: white;
}

.navigation li:hover {
  background: #FF6F00;
  color: white;
}

.inactive {
  display:none;
}

.active {
  display:block!important;
}

.logo {
  width: 70%;
  max-width:300px;
}

.mui-tab-pane {
  padding:15px 10px;
  height: 200px;
}

.mui-panel {
  padding: 25px 20px;
}

.content {
  min-height: 500px;
}

p, blockquote{
  font-size: 1.2em;
  line-height: 1.5em;
}

.mui-panel li {
  font-size: 1.1em;
  line-height: 1.4em;
}
